nav.navbar.hidden-sm.hidden-xs
    ul
        li
            a(href="#") О компании
        li
            a(href="#") Каталог продукции
        li
            a(href="#") Услуги и сервис
        li.dropdown
            a.dropdown-toggle(href="#" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Еще...
            ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                li
                    a(href="#") Полезная информация
                li
                    a(href="#") Проекты
                li
                    a(href="#") Акции
                li
                    a(href="#") Контакты



