footer
    .container
        .row
            .col-md-3
                .foorer-logo
                    a(href='#')
                        img(src='http://dummyimage.com/262.5x50/000/fff&text=footer-logo+262.5*50')
                h4 Стильная и современная мебель из Италии
            .col-md-3
                .contacts
                    .phone-number
                        a(href='#')
                            span 8 495
                            |&nbsp 212 85 06
                    | г. Москва, ул. Егорова 2
                    br
                    | E-mail: &nbsp
                    a(href='#') info@redsign.ru

            .col-md-3
                .other_buttons_wrap
                    button Свяжитесь с нами
                    button Контакты
                    a(href='#') Скачать каталог в PDF
            .col-md-3
                .bottom_subs
                    form(action='#')
                        p Оставьте свой адрес электронной почты и получайте новости о новинках компании
                        .input-group
                            input(type='text' class='form-control' name='sf_EMAIL' placeholder='Введите Ваш адрес')
                            span.input-group-btn
                                button Отправить
                .social_icons
                    a(href='#')
                        img(src='img/icon_rss.png')
                    a(href='#')
                        img(src='img/icon_facebook.png')
                    a(href='#')
                        img(src='img/icon_twitter.png')
                    a(href='#')
                        img(src='img/icon_googleplus.png')
                    a(href='#')
                        img(src='img/icon_pinterest.png')
                    a(href='#')
                        img(src='img/icon_linkedin.png')
                    a(href='#')
                        img(src='img/icon_vimeo.png')




