.footer_copyright
    .container
        .row
            .col-lg-6.col-md-8
                span.all_rights &copy; Все права защищены. Информация сайта защищена &nbsp;
                    a(href='#') законом
                    |&nbsp; об авторских правах.
            .col-lg-3.col-md-4
            .col-lg-3.col-md-12
                span.alfa_title
                    | Разработал &nbsp;
                    a(href='#') AS & AI
