.container-fluid
    .container
        section.second-nav
            .row
                .nav-container.col-xs-12.hidden-md.hidden-lg
                    .panel-group#accordion
                        .panel.panel-default
                            .panel-heading
                                .panel-title
                                    a(href='#section1' data-toggle='collapse' data-parent='#acardion') Каталог
                                        span.glyphicon.glyphicon-align-justify
                            ul.list-group#section1
                                li.list-group-item
                                    a(href='#') Женщинам
                                li.list-group-item
                                    a(href='#') Мужщинам
                                li.list-group-item
                                    a(href='#') Детям
                                li.list-group-item
                                    a(href='#') Для дома
                                li.list-group-item
                                    a(href='#') Парфумерия
                                li.list-group-item
                                    a(href='#') Подарки
                                li.list-group-item
                                    a(href='#') Эксклюзив
                                li.list-group-item
                                    a(href='#') Спортивная одежда
                .nav-destktop.col-md-12.col-lg-12
                    ul.nav.nav-pills.visible-md.visible-lg
                        li.dropdown
                            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Женщинам
                            ul.dropdown-menu
                                li
                                    a(href='#') Одежда

                                li.divider
                                li
                                    a(href='#') Акксесуары
                                li.divider
                                li
                                    a(href='#') Белье и купальники
                        li
                            a(href='#') Мужчинам
                        li
                            a(href='#') Детям
                        li
                            a(href='#') Для дома
                        li
                            a(href='#') Парфумерия
                        li
                            a(href='#') Подарки
                        li
                            a(href='#') Екслюзив
                        li.dropdown.weight.hidden-lg
                            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') ...
                            ul.dropdown-menu
                                li
                                    a(href='#') Спортивные товары
                        li.visible-lg
                            a(href='#') Спортивные товары

                        li.search
                            span.glyphicon.glyphicon-search.dropdown-toggle(data-toggle='dropdown')
                            .dropdown-menu.dropdown-menu-right
                                form.navbar-form.navbar-left(action='' method='post' role='search')
                                    .form-group
                                        input.form-control(type='text' placeholder='Искать')
                                    button.btn.btn-default(type='submit') Искать

    .container-fluid
        section.slider
            .row
                .slider-presentation.col-lg-12.col-sm-12.col-md-12.col-xs-12
                    #carousel.carousel.slide(data-ride='carousel' data-interval='4000')
                        ol.carousel-indicators
                            li.active(data-target='#carousel' data-slide-to='0')
                            li(data-target='#carousel' data-slide-to='1')
                            li(data-target='#carousel' data-slide-to='2')
                        //Wrapper for slides
                        .carousel-inner(role='listbox')
                            .item.active
                                a(href='#')
                                    img(src='img/slide1.png' alt='' width='100%')
                                .carousel-caption
                                    h3 Слайдер 1
                            .item
                                a(href='#')
                                    img(src='img/slide2.PNG' alt='' width='100%')
                                .carousel-caption
                                    h3 Слайдер 2
                            .item
                                a(href='#')
                                    img(src='http://dummyimage.com/1300x400/8b90bf/0011ff' alt='' width='100%')
                                .carousel-caption
                                    h3 Слайдер 3
                        //Controls
                        a.left.carousel-control(href='#carousel' role='button' data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                            span.sr-only Previous
                        a.right.carousel-control(href='#carousel' role='button' data-slide='next')
                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                            span.sr-only Next
    .container
        .row
            section.maincontent.col-md-12.col-lg-12
                #owl-demo
                    div.item
                        a(href='#')
                            img(src='http://dummyimage.com/350x150/8b8fbf/0011ff' alt='')
                            div.name Сезонная одежда для спорта
                    div.item
                        a(href='#')
                            img(src='http://dummyimage.com/350x150/8b8fbf/0011ff' alt='')
                            div.name Новый весенний каталог
                    div.item
                        a(href='#')
                            img(src='http://dummyimage.com/350x150/8b8fbf/0011ff' alt='')
                            div.name Новая колекция
    .container
        section.products
            .row
                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть

                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть

                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть

                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть
            .row
                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть

                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть

                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть

                .col-md-3.col-lg-3.col-sm-6.col-xs-6
                    .thumbnail
                        .product-image
                            a(href='#')
                                img(src='http://dummyimage.com/160x190/5c4c5c/fff' alt='')
                                span.glyphicon.glyphicon-heart
                        .caption.description
                            h3
                                a(href='#') Кружевное платье + пример SKU
                            p
                                span 000000 грн
                                button Побробнее
                            .availability
                                a(href='#') Наличие:
                                span есть
    .container
        section.catalog
            h2
                span Каталог

            section.galerry-foto
                .row.border
                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img1.PNG' width='100%')
                        .effect
                            .caption
                                 h4 Женщинам
                                 p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.

                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img2.PNG' width='100%')
                        .effect
                            .caption
                                h4 Мужчинам
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.

                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img3.PNG' width='100%')
                        .effect
                            .caption
                                h4 Детям
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.

                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img4.PNG' width='100%')
                        .effect
                            .caption
                                h4 Для дома
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.
                .row
                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img5.PNG' width='100%')
                        .effect
                            .caption
                                h4 Парфумерия
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.

                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img6.PNG' width='100%')
                        .effect
                            .caption
                                h4 Подарки
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.

                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img7.PNG' width='100%')
                        .effect
                            .caption
                                h4 Эксклюзив
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.

                    .col-md-3.col-lg-3
                        .img-catalog
                            a(href='#')
                                img(src='img/catalog-img8.PNG' width='100%')
                        .effect
                            .caption
                                h4 Спортивная Одежда
                                p На глубокий Он Скользим Ах на скорбном средство. ﻿кто. Поддержит ль достаться способный Ни твореньях За ея послушным.





