.container-fluid
    .container
        section.second-nav
            .row
                .nav-container.col-xs-12.hidden-md.hidden-lg
                    .panel-group#accordion
                        .panel.panel-default
                            .panel-heading
                                .panel-title
                                    a(href='#section1' data-toggle='collapse' data-parent='#acardion') Каталог
                                        span.glyphicon.glyphicon-align-justify
                            ul.list-group#section1
                                li.list-group-item
                                    a(href='#') Женщинам
                                li.list-group-item
                                    a(href='#') Мужщинам
                                li.list-group-item
                                    a(href='#') Детям
                                li.list-group-item
                                    a(href='#') Для дома
                                li.list-group-item
                                    a(href='#') Парфумерия
                                li.list-group-item
                                    a(href='#') Подарки
                                li.list-group-item
                                    a(href='#') Эксклюзив
                                li.list-group-item
                                    a(href='#') Спортивная одежда




