.products{
  margin-top: 15px;
  height: 780px;
  .product-image{
    position: relative;
    a{
      span{
        position: absolute;
        top: 0;
        right: 0;
        background: #EBEBEB;
        color: #b8b8b8;
        z-index: 4;
        padding: 5px;
        &:hover{
          color: #000;
          background: #999;
        }
      }
    }
  }
  .description{
    a{
      color: #000000;
    }
    p{
      height: 35px;
      span{
        color: #585f69
      }
      button{
        float: right;
        background: #2f3234;
        border: none;
        color: #fff;
        height: 35px;
        width: 96px;
        &:hover{
          background: #000000;
        }
      }
    }
  }
  .availability{
    text-align: right;
    a{
      color: #585f69;
      border-bottom: 1px dashed;
      &:hover{
        text-decoration: none;
        color: #0f0f0f;
        border: none;
      }
    }
    span{
      color: green;
      padding-left: 3px;
    }
  }
  .thumbnail{
    &:hover{
      border: 1px solid #b8b8b8;

    }
  }
}
//CATALOG
.catalog{
  height: 460px;
  h2{
    border-bottom: 1px solid #EBEBEB;
    span{
      border-bottom: 2px solid #373a3d;
      color:#585f69;
    }
  }
}
.border{
  margin:0 0 20px;
}
.effect{
  position: relative;

  .caption{
    max-height: 61px;
    min-height: 61px;
    overflow: hidden;
    border: 1px solid #B8B8B8;
    border-top: none;
    position: absolute;
    background: #fff;
    bottom: -10px;


    &:hover{
      position: absolute;
      bottom:1px;
      z-index: 5;
      background: #fff;
      overflow: visible;
      transition: all 0.5s ease;
      border: 1px solid #B8B8B8;
      max-height: 110px;
      min-height: 110px;
      cursor: pointer;
    }
    p{
      color: #585f69;
      padding: 0 0 4px 8px ;
      font-size: 13px;
    }
    h4{
      padding-left: 8px;
      max-height: 48px;
    }


  }
}
.service{
  height: 430px;
  h2{
    border-bottom: 1px solid #EBEBEB;
    span{
      border-bottom: 2px solid #373a3d;
      color:#585f69;
    }
  }
  .item-img{
    &:hover{
      border: 1px solid #b8b8b8;

    }
    a{
      text-decoration: none;
      color: #585f69;
      .img-descr{
        h4{
          color: #373a3d;
        }
      }
    }
  }

}
#owl-services .item{
  background: #fff;
  padding: 10px 0;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-pagination{
  text-align: right;
}

.news {

  h2{
    border-bottom: 1px solid #EBEBEB;
    span{
      border-bottom: 2px solid #373a3d;
      color:#585f69;
    }
  }
  .item {
    margin-top: 10px;
        .news-img {
          float: left;
          width: 100px;
          height: 100px;
          text-align: center;

          a {
            display: block;
            border: 1px solid #ebebeb;
            &:hover {
              border-color: #DBDDDF;
            }
            img {
              display: block;
              width: auto;
              max-width: 100%;
              margin: 0 auto;
              max-height: 98px;
            }
          }
        }

    .news-content {
      overflow: hidden;
      margin-left: 111px;
      height: 141px;
      .date {
          font-family: "PT Sans", sans-serif;
          font-size: 14px;
          line-height: 1.38462;
          color: #585f69;
        }
      .news_name {
        a {
        color: #373a3d;
        }
      }
      .descr {
        a {
          font-family: "PT Sans", sans-serif;
          font-size: 13px;
          line-height: 1.38462;
          color: #585f69;
        }
      }
    }
  }
}

.brands {
  h2{
    border-bottom: 1px solid #EBEBEB;
    span{
      border-bottom: 2px solid #373a3d;
      color:#585f69;
    }
  }
  .item {
    margin-top: 10px;
    width: 169.167px;
    margin-right: 25px;
    a {
      text-align: center;
      display: block;
      border: 1px solid #ebebeb;
      &:hover {
        border-color: #B8B8B8;
      }
      img {
        display: inline-block;
        width: auto;
        max-width: 100%;
        max-height: 135px;
        vertical-align: middle;
        margin: 0 auto;
      }
    }
  }
}


.our_shops {
  h2{
    border-bottom: 1px solid #EBEBEB;
    span{
      border-bottom: 2px solid #373a3d;
      color:#585f69;
    }
  }
  .search_city {
    position: relative;
    margin-bottom: 20px;
    float: left;
    .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      font-family: "PT Sans", sans-serif;
      font-size: 14px;
      line-height: 1.38462;
      color: #585f69;
      .form-control {
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0px;
        height: 35px;
        box-shadow: none;
        font-size: 14px;
        line-height: 1.38462;
        color: rgb(85, 85, 85);
        background-color: rgb(255, 255, 255);
        background-image: none;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-radius: 0;
        padding: 7px 14px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(235, 235, 235);
        &:focus {
          border-color: #C0C0C0
        }


      }
      .input-group-addon {
        background-color: transparent;
        border-color: transparent;
        padding: 7px 14px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555555;
        text-align: center;
        border-radius: 0px;
      }

    }
  }
  .filter {
    margin-bottom: 20px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    button {
      margin-right: 10px;
      background-color: white;
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid black;
      white-space: nowrap;
      padding: 7px 14px;
      font-size: 14px;
      line-height: 1.38462;
      font-family: "PT Sans", sans-serif;
      color: #585f69;
      &:active {
        background: #2F3234;
        color: white;
      }
      &:hover {
        background: #2F3234;
        color: white;
      }
    }
  }
  .shop_list {
    max-height: 350px;
    border: 1px solid #ebebeb;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    li {
      padding: 9px 10px;
      &:hover {
        background-color: #EBEBEB;
      }
      .name-of-list {
        font-weight: bold;
      }
      .descr {
        line-height: 19px;
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
      }
    }
  }
}