.footer_copyright {
  background-color: #f4f4f4;
  border-top: 1px solid #cacaca;
  width: 100%;
  margin-top: 35px;
  line-height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: #585f69;
  .all_rights {
    a {
      color: #373a3d;

    }
  }
  .alfa_title {
    a {
      color: #373a3d;
    }
  }

}